/*
Author: Raja 
Github: https://github.com/RajaRakoto/
Description: This program allows you to adjust a color according to the display limunosite ...
*/

@function lightness-shift($colour){
  @if ( lightness($colour) < 25% ) {
      @return lighten($colour, 10%);
  }@else{
      @return darken($colour, 10%);
  }
}
