root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{js,cjs,json,ts,mts,yml,yaml,html,css,scss,less,jsx,tsx,php,py,rb,java,swift,go,c,cpp,h,hpp,xml,ini,sql,sh,bat,kt,dart}]
indent_size = 2
indent_style = space
