#box {
	margin: auto;
	position: relative;
	top: 100px;
	padding: 20px;
	background-color: black;
	border-radius: 20px;
	width: 50%;
	height: 400px;
}

#typing-text {
	color: rgb(241, 226, 14);
	font-weight: bold;
	text-align: center;
	font-family: Courier New;
	font-size: 15px;
	padding: 15px;
	width: 229px;
	outline: none;
	resize: none;
	box-sizing: border-box;
	background: none;
	border: solid rgba(255, 0, 0, 0) 1px;
	padding-top: 120px;
}
