/* IMPORT */
@font-face {
	font-family: Quicksand-medium;
	src: url('./font/Quicksand-Medium.ttf');
}
@font-face {
	font-family: Quicksand-bold;
	src: url('./font/Quicksand-Bold.ttf');
}

.circular-box {
	background-color: #dddddd91;
	border-radius: 20px;
	height: 360px;
	width: 300px;
	padding: 25px;
}

.circular-label {
	text-align: center;
	padding: 10px;
	background-color: #8a8a8aa4;
	color: #ffffff;
	border-radius: 5px;
	font-family: Quicksand-medium;
	font-weight: bolder;
	font-size: larger;
}

.circular-progress {
	position: relative;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	display: grid;
	place-items: center;
	box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.53);
	-webkit-box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.53);
}
.circular-progress:before {
	content: '';
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: #ffffff;
	border-radius: 50%;
	place-items: center;
	box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: -1px 1px 8px 0px rgba(0, 0, 0, 0.45) inset;
}
.value-container {
	position: relative;
	font-family: Quicksand-bold;
	font-size: 50px;
	color: #2b2b2b;
}

