*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: silver;
}

.card {
	width: 15rem; //arg
	position: relative;

	.card__ribbon {
		padding: 2rem;
		width: 100%;
		height: 100%;
		background: #f3f3f3; //arg
		position: relative;
	}
}

.card::before {
	position: absolute;
	top: 2rem;
	right: -0.3rem;
	content: '';
	background: #283593;
	height: 28px;
	width: 28px;
	transform: rotate(45deg);
}

.card::after {
	position: absolute;
	content: attr(data-label);
	top: 11px;
	right: -11px; //arg
	padding: 0.5rem;
	width: 10rem;
	background: #3949ab;
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
}
