// DESCRIPTION: ensemble des mixins & fonctions pour des animations pre a employer

//NOTE: Vous devez specifier le selecteur manuellement (syntaxe CSS basique)

//TODO: verified
//pulse(begin)------------------------------------
@mixin animation-pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	@-webkit-keyframes pulse {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		50% {
			-webkit-transform: scale3d(1.05, 1.05, 1.05);
			transform: scale3d(1.05, 1.05, 1.05);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes pulse {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		50% {
			-webkit-transform: scale3d(1.05, 1.05, 1.05);
			transform: scale3d(1.05, 1.05, 1.05);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
}
//pulse(end)--------------------------------------

//TODO: verified
//slide(begin)------------------------------------
@mixin animation-slide($in-out, $direction) {
	@if ($in-out == in) {
		@if ($direction == up) {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInUp {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInUp {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == down) {
			-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInDown {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInDown {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == left) {
			-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInLeft {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInLeft {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == right) {
			-webkit-animation-name: fadeInRight;
			animation-name: fadeInRight;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			@-webkit-keyframes fadeInRight {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInRight {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}
	}

	@if ($in-out == out) {
		@if ($direction == up) {
			-webkit-animation-name: fadeOutUp;
			animation-name: fadeOutUp;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutUp {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
			}
			@keyframes fadeOutUp {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
			}
		}

		@if ($direction == down) {
			-webkit-animation-name: fadeOutDown;
			animation-name: fadeOutDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutDown {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
			}
			@keyframes fadeOutDown {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
			}
		}

		@if ($direction == left) {
			-webkit-animation-name: fadeOutLeft;
			animation-name: fadeOutLeft;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutLeft {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
			}
			@keyframes fadeOutLeft {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
			}
		}

		@if ($direction == right) {
			-webkit-animation-name: fadeOutRight;
			animation-name: fadeOutRight;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutRight {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
			}
			@keyframes fadeOutRight {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
			}
		}
	}
}
//slide(end)--------------------------------------

//TODO: verified
//fade(begin)------------------------------------
@mixin animation-fade($in-out) {
	@if ($in-out == in) {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	@if ($in-out == out) {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}
//fade(end)--------------------------------------

//TODO: verified
//zoom(begin)------------------------------------
@mixin animation-zoom($in-out) {
	@if ($in-out == in) {
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes zoomIn {
			0% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			50% {
				opacity: 1;
			}
		}
		@keyframes zoomIn {
			0% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			50% {
				opacity: 1;
			}
		}
	}

	@if ($in-out == out) {
		-webkit-animation-name: zoomOut;
		animation-name: zoomOut;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes zoomOut {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes zoomOut {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			100% {
				opacity: 0;
			}
		}
	}
}
//zoom(end)--------------------------------------

//TODO: work
//zoom(begin)------------------------------------
//zoom(end)--------------------------------------

//TODO: work
//zoom(begin)------------------------------------
//zoom(end)--------------------------------------
