// DESCRIPTION: ensemble des mixins & fonctions pour des animations pret a employer

//NOTE: Vous devez specifier le selecteur manuellement (syntaxe CSS basique)

//TODO: verified
//slide(begin)------------------------------------
@mixin animation-slide($in-out, $direction) {
	@if ($in-out == in) {
		@if ($direction == up) {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInUp {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInUp {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == down) {
			-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInDown {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInDown {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == left) {
			-webkit-animation-name: fadeInLeft;
			animation-name: fadeInLeft;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeInLeft {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInLeft {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}

		@if ($direction == right) {
			-webkit-animation-name: fadeInRight;
			animation-name: fadeInRight;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			@-webkit-keyframes fadeInRight {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
			@keyframes fadeInRight {
				0% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
				100% {
					opacity: 1;
					-webkit-transform: none;
					transform: none;
				}
			}
		}
	}

	@if ($in-out == out) {
		@if ($direction == up) {
			-webkit-animation-name: fadeOutUp;
			animation-name: fadeOutUp;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutUp {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
			}
			@keyframes fadeOutUp {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, -100%, 0);
					transform: translate3d(0, -100%, 0);
				}
			}
		}

		@if ($direction == down) {
			-webkit-animation-name: fadeOutDown;
			animation-name: fadeOutDown;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutDown {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
			}
			@keyframes fadeOutDown {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(0, 100%, 0);
					transform: translate3d(0, 100%, 0);
				}
			}
		}

		@if ($direction == left) {
			-webkit-animation-name: fadeOutLeft;
			animation-name: fadeOutLeft;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutLeft {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
			}
			@keyframes fadeOutLeft {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(-100%, 0, 0);
					transform: translate3d(-100%, 0, 0);
				}
			}
		}

		@if ($direction == right) {
			-webkit-animation-name: fadeOutRight;
			animation-name: fadeOutRight;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			@-webkit-keyframes fadeOutRight {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
			}
			@keyframes fadeOutRight {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
					-webkit-transform: translate3d(100%, 0, 0);
					transform: translate3d(100%, 0, 0);
				}
			}
		}
	}
}
//slide(end)--------------------------------------

//TODO: verified
//fade(begin)------------------------------------
@mixin animation-fade($in-out) {
	@if ($in-out == in) {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	@if ($in-out == out) {
		-webkit-animation-name: fadeOut;
		animation-name: fadeOut;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}
//fade(end)--------------------------------------

//TODO: verified
//zoom(begin)------------------------------------
@mixin animation-zoom($in-out) {
	@if ($in-out == in) {
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes zoomIn {
			0% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			50% {
				opacity: 1;
			}
		}
		@keyframes zoomIn {
			0% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			50% {
				opacity: 1;
			}
		}
	}

	@if ($in-out == out) {
		-webkit-animation-name: zoomOut;
		animation-name: zoomOut;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes zoomOut {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			100% {
				opacity: 0;
			}
		}
		@keyframes zoomOut {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0;
				-webkit-transform: scale3d(0.3, 0.3, 0.3);
				transform: scale3d(0.3, 0.3, 0.3);
			}
			100% {
				opacity: 0;
			}
		}
	}
}
//zoom(end)--------------------------------------

//TODO: verified
//flip(begin)------------------------------------
@mixin animation-flip($in-out) {
	@if ($in-out == in) {
		-webkit-backface-visibility: visible !important;
		backface-visibility: visible !important;
		-webkit-animation-name: flipInY;
		animation-name: flipInY;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes flipInY {
			0% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				-webkit-transition-timing-function: ease-in;
				transition-timing-function: ease-in;
				opacity: 0;
			}
			40% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
				-webkit-transition-timing-function: ease-in;
				transition-timing-function: ease-in;
			}
			60% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
				opacity: 1;
			}
			80% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
			}
			100% {
				-webkit-transform: perspective(400px);
				transform: perspective(400px);
			}
		}
		@keyframes flipInY {
			0% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				-webkit-transition-timing-function: ease-in;
				transition-timing-function: ease-in;
				opacity: 0;
			}
			40% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
				-webkit-transition-timing-function: ease-in;
				transition-timing-function: ease-in;
			}
			60% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
				opacity: 1;
			}
			80% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
			}
			100% {
				-webkit-transform: perspective(400px);
				transform: perspective(400px);
			}
		}
	}

	@if ($in-out == out) {
		-webkit-backface-visibility: visible !important;
		backface-visibility: visible !important;
		-webkit-animation-name: flipOutY;
		animation-name: flipOutY;
		-webkit-animation-duration: 0.75s;
		animation-duration: 0.75s;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes flipOutY {
			0% {
				-webkit-transform: perspective(400px);
				transform: perspective(400px);
			}
			30% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
				opacity: 1;
			}
			100% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				opacity: 0;
			}
		}
		@keyframes flipOutY {
			0% {
				-webkit-transform: perspective(400px);
				transform: perspective(400px);
			}

			30% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
				transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
				opacity: 1;
			}

			100% {
				-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
				opacity: 0;
			}
		}
	}
}
//flip(end)--------------------------------------

//TODO: verified (loading...)
// USAGE: @include animation-rotate(in, up, left) | @include animation-rotate(out, down, right)
//rotate(begin)----------------------------------
@mixin animation-rotate($in-out, $axeY, $axeX) {
	@if ($in-out == in) {
		@if ($axeY == up) {
			@if ($axeX == left) {
				-webkit-animation-name: rotateInUpLeft;
				animation-name: rotateInUpLeft;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateInUpLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
				@keyframes rotateInUpLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
			}
			@if ($axeX == right) {
				-webkit-animation-name: rotateInUpRight;
				animation-name: rotateInUpRight;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateInUpRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, -90deg);
						transform: rotate3d(0, 0, 1, -90deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
				@keyframes rotateInUpRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, -90deg);
						transform: rotate3d(0, 0, 1, -90deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
			}
		}
		@if ($axeY == down) {
			@if ($axeX == left) {
				-webkit-animation-name: rotateInDownLeft;
				animation-name: rotateInDownLeft;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateInDownLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
				@keyframes rotateInDownLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
			}
			@if ($axeX == right) {
				-webkit-animation-name: rotateInDownRight;
				animation-name: rotateInDownRight;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateInDownRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
				@keyframes rotateInDownRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: none;
						transform: none;
						opacity: 1;
					}
				}
			}
		}
	}

	@if ($in-out == out) {
		@if ($axeY == up) {
			@if ($axeX == left) {
				//TODO: loading...
			}
			@if ($axeX == right) {
				-webkit-animation-name: rotateOutUpRight;
				animation-name: rotateOutUpRight;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateOutUpRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, 90deg);
						transform: rotate3d(0, 0, 1, 90deg);
						opacity: 0;
					}
				}
				@keyframes rotateOutUpRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, 90deg);
						transform: rotate3d(0, 0, 1, 90deg);
						opacity: 0;
					}
				}
			}
		}
		@if ($axeY == down) {
			@if ($axeX == left) {
				-webkit-animation-name: rotateOutDownLeft;
				animation-name: rotateOutDownLeft;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateOutDownLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
				}
				@keyframes rotateOutDownLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, 45deg);
						transform: rotate3d(0, 0, 1, 45deg);
						opacity: 0;
					}
				}
			}
			@if ($axeX == right) {
				-webkit-animation-name: rotateOutDownRight;
				animation-name: rotateOutDownRight;
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@-webkit-keyframes rotateOutDownRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
				}
				@keyframes rotateOutDownRight {
					0% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: right bottom;
						transform-origin: right bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
				}
				.rotateOutUpLeft {
					-webkit-animation-name: rotateOutUpLeft;
					animation-name: rotateOutUpLeft;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
				}
				@-webkit-keyframes rotateOutUpLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
				}
				@keyframes rotateOutUpLeft {
					0% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						opacity: 1;
					}
					100% {
						-webkit-transform-origin: left bottom;
						transform-origin: left bottom;
						-webkit-transform: rotate3d(0, 0, 1, -45deg);
						transform: rotate3d(0, 0, 1, -45deg);
						opacity: 0;
					}
				}
			}
		}
	}
}
//rotate(end)------------------------------------

//TODO: verified
//notif(begin)------------------------------------
@mixin animation-notif($in-out) {
	@if ($in-out == in) {
		-webkit-animation-name: lightSpeedIn;
		animation-name: lightSpeedIn;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes lightSpeedIn {
			0% {
				-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
				transform: translate3d(100%, 0, 0) skewX(-30deg);
				opacity: 0;
			}
			60% {
				-webkit-transform: skewX(20deg);
				transform: skewX(20deg);
				opacity: 1;
			}
			80% {
				-webkit-transform: skewX(-5deg);
				transform: skewX(-5deg);
				opacity: 1;
			}
			100% {
				-webkit-transform: none;
				transform: none;
				opacity: 1;
			}
		}
		@keyframes lightSpeedIn {
			0% {
				-webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
				transform: translate3d(100%, 0, 0) skewX(-30deg);
				opacity: 0;
			}
			60% {
				-webkit-transform: skewX(20deg);
				transform: skewX(20deg);
				opacity: 1;
			}
			80% {
				-webkit-transform: skewX(-5deg);
				transform: skewX(-5deg);
				opacity: 1;
			}
			100% {
				-webkit-transform: none;
				transform: none;
				opacity: 1;
			}
		}
	}

	@if ($in-out == out) {
		-webkit-animation-name: lightSpeedOut;
		animation-name: lightSpeedOut;
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		@-webkit-keyframes lightSpeedOut {
			0% {
				opacity: 1;
			}
			100% {
				-webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
				transform: translate3d(100%, 0, 0) skewX(30deg);
				opacity: 0;
			}
		}
		@keyframes lightSpeedOut {
			0% {
				opacity: 1;
			}
			100% {
				-webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
				transform: translate3d(100%, 0, 0) skewX(30deg);
				opacity: 0;
			}
		}
	}
}
//notif(end)--------------------------------------

//TODO: verified
//pulse(begin)------------------------------------
@mixin animation-pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	@-webkit-keyframes pulse {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		50% {
			-webkit-transform: scale3d(1.05, 1.05, 1.05);
			transform: scale3d(1.05, 1.05, 1.05);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes pulse {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
		50% {
			-webkit-transform: scale3d(1.05, 1.05, 1.05);
			transform: scale3d(1.05, 1.05, 1.05);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
}
//pulse(end)--------------------------------------

//TODO: verified
//bounce(begin)----------------------------------
@mixin animation-bounce {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	@-webkit-keyframes bounceIn {
		0%,
		20%,
		40%,
		60%,
		80%,
		100% {
			-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		0% {
			opacity: 0;
			-webkit-transform: scale3d(0.3, 0.3, 0.3);
			transform: scale3d(0.3, 0.3, 0.3);
		}
		20% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1);
			transform: scale3d(1.1, 1.1, 1.1);
		}
		40% {
			-webkit-transform: scale3d(0.9, 0.9, 0.9);
			transform: scale3d(0.9, 0.9, 0.9);
		}
		60% {
			opacity: 1;
			-webkit-transform: scale3d(1.03, 1.03, 1.03);
			transform: scale3d(1.03, 1.03, 1.03);
		}
		80% {
			-webkit-transform: scale3d(0.97, 0.97, 0.97);
			transform: scale3d(0.97, 0.97, 0.97);
		}
		100% {
			opacity: 1;
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
	@keyframes bounceIn {
		0%,
		20%,
		40%,
		60%,
		80%,
		100% {
			-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
		0% {
			opacity: 0;
			-webkit-transform: scale3d(0.3, 0.3, 0.3);
			transform: scale3d(0.3, 0.3, 0.3);
		}
		20% {
			-webkit-transform: scale3d(1.1, 1.1, 1.1);
			transform: scale3d(1.1, 1.1, 1.1);
		}
		40% {
			-webkit-transform: scale3d(0.9, 0.9, 0.9);
			transform: scale3d(0.9, 0.9, 0.9);
		}
		60% {
			opacity: 1;
			-webkit-transform: scale3d(1.03, 1.03, 1.03);
			transform: scale3d(1.03, 1.03, 1.03);
		}
		80% {
			-webkit-transform: scale3d(0.97, 0.97, 0.97);
			transform: scale3d(0.97, 0.97, 0.97);
		}
		100% {
			opacity: 1;
			-webkit-transform: scale3d(1, 1, 1);
			transform: scale3d(1, 1, 1);
		}
	}
}
//bounce(end)------------------------------------

//TODO: verified
//flash(begin)------------------------------------
@mixin animation-flash {
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	@-webkit-keyframes flash {
		0%,
		50%,
		100% {
			opacity: 1;
		}

		25%,
		75% {
			opacity: 0;
		}
	}

	@keyframes flash {
		0%,
		50%,
		100% {
			opacity: 1;
		}

		25%,
		75% {
			opacity: 0;
		}
	}
}
//flash(end)--------------------------------------


//TODO: work
//flash(begin)------------------------------------

//flash(end)------------------------------------

//TODO: work
//flash(begin)------------------------------------

//flash(end)------------------------------------

//TODO: work
//flash(begin)------------------------------------

//flash(end)------------------------------------

//TODO: work
//flash(begin)------------------------------------

//flash(end)------------------------------------

//TODO: work
//flash(begin)------------------------------------

//flash(end)------------------------------------
