//DESCRIPTION: des mixins qui regroupe les modeles de box utile lors du developpement front

//box--info() -> mettre un bordure/couleur d'arriere plan pour un block (utile lors du debogage front)
//USAGE: @include box--info('.foo', red, false, true, true);

@mixin box-info(
	$selector,
	//nom du class a generer ou la class a cibler
	$color,
	//couleur du bordure
	$spacing: false,
	//ajouter/pas un espacement du box
	$bg-color: false,
	//activer/desactiver le couleur de l'arriere plan
	$status: true //activer/desactiver les infos box
) {
	@if ($status) {
		#{$selector} {
			border: dashed 1px $color;
			@if ($spacing) {
				padding: 10px;
				margin: 10px;
			}
			@if ($bg-color) {
				background-color: lighten(adjust-hue($color, 20), 25%);
				// opacity: 70%;
			}
		}
	}
}

//------------------------------------------------------------

//TODO: create BOX generator
//box--template() -> mixin qui genere un box (type, couleur, taille, ombre, bordure ...)
//USAGE: box--template('foo', Orangered, solid, 120px, 200px, false)

@mixin box-shadow {
	box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
	-webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
}

@mixin box-shadow-hover {
	box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
	-webkit-box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
}

@mixin box-template(
	$selector,
	$color,
	$width,
	$height,
	$radius,
	$shadow: true
) {
	.#{$selector} {
		background-color: $color;
		width: $width;
		height: $height;
		border-radius: $radius;
		@if ($shadow) {
			@include box-shadow();
		}
	}
}
