// DESCRIPTION: des mixins & fonctions qui regroupe les modeles de box utile lors du developpement front

// box-debug() -> mettre un bordure/couleur d'arriere plan pour un block (utile lors du debogage front)
// USAGE: @include box--info('.foo', red, true, true);

//TODO: verified
@mixin box-debug(
	$selector,
	//nom du class a generer ou la class a cibler
	$color,
	//couleur du bordure
	$bg-color: false,
	//activer/desactiver le couleur de l'arriere plan
	$status: true //activer/desactiver les infos box
) {
	@if ($status) {
		#{$selector} {
			border: solid 1px $color;
			@if ($bg-color) {
				background-color: lighten(adjust-hue($color, 20), 25%);
				// opacity: 70%;
			}
		}
	}
}

//------------------------------------------------------------

//TODO: verified
// box-generator() -> mixin qui genere un box (type, couleur, taille, ombre, bordure ...)
// USAGE:  box-generator('foo', Orangered, solid, 120px, 200px, false)

@import './effect';

@mixin box-generator(
	$selector,
	$color,
	$width,
	$height,
	$radius,
	$shadow: true
) {
	#{$selector} {
		background-color: $color;
		width: $width;
		height: $height;
		border-radius: $radius;
		@if ($shadow) {
			@include shadow-box();
		}
	}
}

//------------------------------------------------------------

//TODO: verified
//box-size() -> mixin qui modifie la taille d'un box (width, height)
// USAGE: box-size('foo', 100px, 45px);

@mixin box-size($selector, $width, $height) {
	#{$selector} {
		width: $width;
		height: $height;
	}
}
