//DESCRIPTION: ensemble des mixins pour manipuler les effets css

//opacity -> @include opacity(10%);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}