//DESCRIPTION: ensemble des mixins & fonctions pour manipuler les effets css

//TODO: verified
//opacity -> @include opacity(10%);
@mixin effect-opacity($percent) {
	opacity: $percent;
	$percent-ie: $percent * 100;
	filter: alpha(opacity=$percent-ie); //IE8
}

//TODO: verified
@mixin shadow-box {
	box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
	-webkit-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.59);
}

//TODO: verified
@mixin shadow-box-hover {
	box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
	-webkit-box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
	-moz-box-shadow: 5px 4px 18px 1px rgba(0, 0, 0, 0.59);
}
