// DESCRIPTION: ensemble des mixins & fonctions dont le but est de positionner des elements plus rapidement et plus polyvalents possibles

// position-set() -> positionner rapidement vos elements par rapport a son element parent
// USAGE: @include position-set('foo', both);
//OPTIONS: vertical (gauche), horizontal (haut), both (center)

@mixin position-set($selector, $position) {
	.#{$selector} {
		position: relative;

		@if $position == 'vertical' {
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		} @else if $position == 'horizontal' {
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translate(-50%);
		} @else if $position == 'both' {
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

//------------------------------------------------------------

// position-center-block() -> centrer rapidement un block
// USAGE: @include position-center-block('foo');

@mixin position-center-block($selector) {
	.#{$selector} {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

//------------------------------------------------------------

// position-center-flex() -> centrer rapidement l'element enfant du selecteur en argument
// USAGE: @include position-center-flex('foo')

@mixin position-center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

//------------------------------------------------------------

// position-center-text () -> centrer rapidement un text
// USAGE: @include position-center-text()

@mixin position-center-text {
	text-align: center;
}

//------------------------------------------------------------

//clearfix() -> Ce mixin sera utile chaque fois que vous avez du contenu flottant à droite ou à gauche et que vous souhaitez effacer l'espace sous l'élément flottant pour insérer un nouveau contenu en dessous.
/*
USAGE:

.container-with-floated-children {
  @extend %clearfix;
}
*/
//OPTIONS: vertical (gauche), horizontal (haut), both (center)

%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}
