// DESCRIPTION: ensemble des mixins & fonctions dont le but est de positionner des elements plus rapidement et plus polyvalents possibles

// position-set() -> positionner rapidement vos elements par rapport a son element parent
// USAGE: @include position-set('foo', both);
//OPTIONS: vertical (gauche), horizontal (haut), both (center)

//TODO: test
@mixin position-set($selector, $position) {
	#{$selector} {
		position: relative;

		@if $position == 'vertical' {
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		} @else if $position == 'horizontal' {
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translate(-50%);
		} @else if $position == 'both' {
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
}

//------------------------------------------------------------

/* ### BLOCK ###*/
// les mixins de manipulation de block CSS

// centrer rapidement un block
//TODO: verified
@mixin position-center-block($selector) {
	#{$selector} {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

//------------------------------------------------------------

/* ### FLEX ###*/
// les mixins de manipulation de flex CSS

// centrer rapidement l'element enfant du selecteur en argument
//TODO: verified
@mixin position-center-flex($selector) {
	#{$selector} {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

// aligner les elements ligne par ligne
//TODO: verified
@mixin position-row-flex($child, $parent) {
	#{$parent} {
		display: flex;
	}
	#{$child} {
		flex-direction: row;
	}
}

// aligner les elements colonne par colonne
//TODO: verified
@mixin position-col-flex($child, $parent) {
	#{$parent} {
		display: flex;
	}
	#{$child} {
		flex-direction: column;
	}
}

//------------------------------------------------------------

// position-center-text () -> centrer rapidement un text
// USAGE: @include position-center-text()

//TODO: verified
@mixin position-center-text {
	text-align: center;
}

//------------------------------------------------------------

//clearfix() -> Ce mixin sera utile chaque fois que vous avez du contenu flottant à droite ou à gauche et que vous souhaitez effacer l'espace sous l'élément flottant pour insérer un nouveau contenu en dessous.
/*
USAGE:

.container-with-floated-children {
  @extend %clearfix;
}
*/
//OPTIONS: vertical (gauche), horizontal (haut), both (center)

//TODO: verified
%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	&:after {
		clear: both;
	}
}
