//DESCRIPTION: ensemble des mixins pour manipuler les espacements des elements

/*
USAGE:
@include padding(1px, null, 3px, 4px);
@include margin(1px, 2px, null, 4px);
*/

//NOTE: En utilisant la propriété Sass null, vous pouvez omettre les propriétés de remplissage. Les mêmes règles s'appliquent pour les marges.

//Padding mixin
@mixin spacing-padding($selector, $top, $right, $bottom, $left) {
	.#{$selector} {
		padding-top: $top;
		padding-right: $right;
		padding-bottom: $bottom;
		padding-left: $left;
	}
}

//Margin mixin
@mixin spacing-margin($selector, $top, $right, $bottom, $left) {
	.#{$selector} {
		margin-top: $top;
		margin-right: $right;
		margin-bottom: $bottom;
		margin-left: $left;
	}
}
