//DESCRIPTION: ensemble des mixins & fonctions pour manipuler les espacements des elements

/*
USAGE:
@include padding(1px, null, 3px, 4px);
@include margin(1px, 2px, null, 4px);
*/

//NOTE: En utilisant la propriété Sass null, vous pouvez omettre les propriétés de remplissage. Les mêmes règles s'appliquent pour les marges.

//TODO: verified
//set padding manually
@mixin spacing-padding($selector, $top, $right, $bottom, $left) {
	#{$selector} {
		padding-top: $top;
		padding-right: $right;
		padding-bottom: $bottom;
		padding-left: $left;
	}
}

//TODO: verified
//set margin manually
@mixin spacing-margin($selector, $top, $right, $bottom, $left) {
	#{$selector} {
		margin-top: $top;
		margin-right: $right;
		margin-bottom: $bottom;
		margin-left: $left;
	}
}

//TODO: verified
//spacing quickly
@mixin spacing-quick($selector, $gabarit: medium) {
	@if ($gabarit == small) {
		#{$selector} {
			padding: 10px 10px 10px 10px;
			margin: 10px 10px 10px 10px;
		}
	}
	@if ($gabarit == medium) {
		#{$selector} {
			padding: 30px 30px 30px 30px;
			margin: 30px 30px 30px 30px;
		}
	}
	@if ($gabarit == large) {
		#{$selector} {
			padding: 50px 50px 50px 50px;
			margin: 50px 50px 50px 50px;
		}
	}
}
