//DESCRIPTION: ensemble des mixins & fonctions de manipulation de typographie (family, size, ...)
@use 'sass:math';

//TODO: verified
//convert pixel to rem
@function toRem($size) {
	@return math.div($size, 16px) * 1rem;
}

//------------------------------------------------------------

//font-face() -> ce mixin effectue l'importation rapide des polices externes et inclure les proprietEs coherentes.

/*
USAGE:

@include font-face(firacode-regular, './Firacode/FiraCode-Regular.otf');
p {
  font-family: firacode-regular;
}
*/

//TODO: verified
@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-name;
		font-weight: $weight;
		font-style: $style;
		src: url($path);
	}
}
