 .progress {
  position: relative;
  width: 210px;
  height: 30px;
  background: #eaf0f2;
  border-radius: 5px;
  overflow: hidden;
}

.progress__fill {
  width: 0%;
  height: 100%;
  background: #2ec4ca;
  transition: all 1s;
}

.progress__text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font: bold 14px "Quicksand", sans-serif;
  color: #ffffff;
  text-shadow: 1px 2px 6px rgba(0,0,0,0.76);
}
