* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
}

body {
	margin-top: 300px;
	min-height: 100vh;
	overflow: hidden;
}

#typing-area {
	display: flex;
	align-items: center;
	justify-content: center;
}

#entry-point {
	display: flex;
	margin-left: 1rem;
	position: relative;
	left: -20px; /* adjust space line */
}

#entry-point::after {
	content: '';
	position: relative;
	height: 32px;
	width: 3px;
	background: black;
	top: 10px;
	transform: translateY(-4px);
	right: -3px;
	animation: blinker 0.8s linear infinite;
}
@keyframes blinker {
	50% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
